{% extends 'base1.html.twig' %}

{% block body %}
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">


            </div>
        </div>
    </div>




{% endblock %}